* {
    box-sizing: border-box;
    margin: 2px;
    padding: 1px;
}

.headeruno h1 {    
    font-size: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    text-align: left;
    color: white;
    background: black;
}

section, article, hgroup, aside {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;
    }
.section{
        width: 70%;
        padding: 5px;
        margin: 5px;
        font-weight: bolder;
    }

body {
    text-align:center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;

}

.nav-main{    
    text-align: right;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width: 50px;
}

.nav-main ul{
    display: flex;
}

.nav-main li{
    list-style: none;
    padding: 5px;
    display: inline-block;
    border: 1px solid black;
    background: #262626;
    cursor: pointer;
}

li.carrito {
    background: white;
    padding: 5px;
    cursor: pointer;
}

a {
    background: #262626;
    color: white;
}
a.carrito.html{
    background: white;
    padding: 5px;
    cursor: pointer;
}

.nav-main li:hover{
    opacity: .7;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px; 
}

.nav-main ul li a:hover{
    border-bottom: 2px solid black;
}

th {
    border: 1px solid black;
    font-weight: bold;
}

td {
    border: 1px solid black;
    font-weight: bold; 
}

.derechosreservados {
    border:2px solid black;
    clear: both;
    text-align: center;
    width: 100%;
    bottom: 0%;
    position: absolute;
}
.articulos{
    width: 30%;
    text-align: center;
    margin-top: 10px;
    margin-left: 3%;
    margin-bottom: 20px;
    border: 2px solid black;
    float: left;
    display: inline-block;
}
.articulos .imagenuno {
    width: 200px;
}

.articulos .imagendos {
    width: 200px;
    height: 175px;
}

.articulos .p {
    text-align: center;
    font-weight: bolder;
}

.local {
    color:black;
    font-size: 20px;
    background: white;
}
